* {
  margin: 0;
  padding: 0px;
}
body {
  background: #f8f8f8;
}
.main {
  height: 100%;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-top: 20px;
}
.heading {
  font-family: Arial, sans-serif;
  color: black;
}
.search-bar {
  display: flex;
  gap: 8px;
  align-items: stretch;
}
input {
  padding: 6px;
  width: 350px;
  height: 25px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  border: 1px solid gray;
  border-radius: 10px;
  outline: none;
}

.search-button {
  background-color: black;
  color: white;
  padding: 3px;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.search-button:hover {
  cursor: pointer;
}
.search-button:active {
  transform: scale(1.1);
}

.show-more {
  margin: 10px auto 10px auto;
  display: none;
}

#result-container {
  justify-self: center;
  margin: 30px 50px 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.result-content {
  border: 1px solid gray;
  position: relative;
}

.result-content img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  justify-self: center;
}

.result-info {
  background-color: rgb(216, 204, 204);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}
.fa-solid {
  font-size: 20px;
}
.camera-container {
  display: flex;
  gap: 5px;
  align-items: center;
}
a {
  color: black;
  text-decoration: none;
}
@media (max-width: 860px) {
  .fa-solid {
    font-size: 15px;
  }
  .camera-container p {
    font-size: 12px;
  }
}
@media (max-width: 660px) {
  .result-info {
    background-color: rgb(216, 204, 204);
    display: flex;

    align-items: center;
    gap: 4px;
    padding: 8px;
  }
  #result-container {
    justify-self: center;
    margin: 30px 50px 20px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
@media (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-top: 20px;
  }
  .heading {
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
    font-size: 1.2rem;
  }
  .search-bar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  input {
    padding: 6px;
    max-width: 280px;
    height: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  .search-button {
    padding: 3px;
    width: 80px;
    height: 30px;

    font-size: 11px;
  }
  #result-container {
    justify-self: center;
    margin: 15px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  #result-container img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    justify-self: center;
  }
}
